<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>OrdersMvcApp_Java225</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid text-center">
  <h1>Изменить клиента</h1>

  <!-- форма добавления клиента -->
  <form method="post" th:action="@{/client/update}" th:object="${client}">
    <label for="hidden-id"></label>
    <input th:field="*{id}" id="hidden-id" type="number" hidden/>

    <!-- имя клиента -->
    <label for="input-name">Имя:</label>
    <input th:field="*{name}" id="input-name" type="text" required minlength="1"/>

    <!-- электронная почта -->
    <label for="input-email">Электронная почта:</label>
    <input th:field="*{email}" id="input-email" type="email"/>

    <!-- -->
    <button class="btn btn-success">Сохранить</button>
    <a class="btn btn-danger" th:href="@{/templates/client}">Отменить</a>
  </form>

  <h3>
    <!-- ссылка на домашнюю страницу -->
    <a th:href="@{/}"> На домашнюю </a>
  </h3>
</div>
</body>
</html>